%h1 Listing fonts

%table
  %thead
    %tr
      %th Name
      %th Status
      %th
      %th
      %th

  %tbody
    - @fonts.each do |font|
      %tr
        %td= font.name
        %td= font.status
        %td= link_to 'Show', font
        %td= link_to 'Edit', edit_font_path(font)
        %td= link_to 'Destroy', font, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Font', new_font_path
